body {

    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
	position: fixed;
    width: 100%;
	background-color: #333
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-family: Monotype Corsiva;
    font-size: 60px;
	text-align: center;
	margin: 0;
	margin-top: 50px;
    position: relative;

}

h2 {
    font-family: Monotype Corsiva;
    position: relative;
	margin: 0 0 40px 0;
    padding-top: 0px;
	text-align: center;
}

h3 {
    top: 10%;
    left: 40%;
}
h4 {
	position: relative;
	text-align: left;
	margin-top: 60px;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

li a:hover:not(.active) {
    background-color: #4CAF50;  /* hovering the mouse over changes the color to green */
}

.active {
    background-color: #4CAF50; /* active selection stays green */
}
